<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>New Message</h1>
     <small>
       By: George
     </small>
     <p>
       Blah blah blah blah blah blah
     </p>
   </body>
 </html>