.app-title {
    font-family: Impact, Charcoal, sans-serif;
    font-size: Huge;
    font-weight: Bold;
}

.signup-instructions {
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-size: normal;
    font-style: italic;
}